@model IEnumerable<EniacHome.Areas.Admin.Models.PluginListViewModel>
@section scripts
{
    <script language="JavaScript" type="text/javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="~/Scripts/upload_overlay.js"></script>
}
@Html.AntiForgeryToken()
@Html.Hidden("url", Url.Action("Add", "Plugin", new { area="Admin"}))
<div class="overlay" id="overlay">
    <div class="content" id="content">
        <div class="hidden-xs dropzone" id="dropzone">Drop files here to upload</div>
        <div class="visible-xs center-block">
            <p>
                @using (Html.BeginForm("Add", "Plugin", FormMethod.Post, new { id = "upload", enctype = "multipart/form-data" }))
                {
                    <span class="btn btn-default btn-file">
                        Browse<input type="file" name="files" id="FileInput" multiple="multiple" />
                    </span>
                }
            </p>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Version)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Version)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { Name = item.Name }) |
                    @Html.ActionLink("Delete", "Delete", new { Name = item.Name })
                </td>
            </tr>
        }
    </table>
</div>
<p>
    <button class="btn btn-default" id="addBtn">
        <span class="glyphicon glyphicon-plus pull-left"></span>&nbsp; &nbsp; Add New Plugin
    </button>
</p>
